<div class="ex_header">
    <div class="ex_header_left_cell">
        <a ng-click="fastTrack()">
            <img src="/apps/jove_notes/media/images/logo_for_navbar.png" 
                 style="height: 20px" />
        </a>
        <span ng-if="$parent.fastTrackRequested"> (F) </span>
    </div>
    <div class="ex_header_center_cell">
        <span class="gi-1-15x">{{$parent.pageTitle}}</span>
    </div>
    <div class="ex_header_right_cell">
        <span class="small">
        [ {{ userName }} ] &nbsp;
        </span>
        <div class="pull-right" style="margin-top: 0px">
            <a href="/apps/jove_notes/ng/dashboard/index.php#Exercises">
                <span class="glyphicon glyphicon-eye-open gi-1-5x"></span>
            </a>
        </div>
    </div>
</div>