/* This file is automatically included by app bootstrapping */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.nav_element {
	max-height: 40px;
	min-height: 40px;
	line-height: 40px;
	background-color: #4B4B4B;
	color: #E6E6E6;
}

.pad-5px {
	padding-left: 5px;
	padding-right: 5px;
}

.pad-10px {
	padding-left: 10px;
	padding-right: 10px;
}

.NS {
	background-color: #D0D0D0 !important;
	color: #424242 !important;
}

.L0 {
	background-color: #FF0000 !important;
}

.L1 {
	background-color: #FF7F2A !important;
}

.L2 {
	background-color: #FFFF7F !important;
	color: #757575 !important;
}

.L3 {
	background-color: #AAFFAA !important;
	color: #757575 !important;
}

.MAS {
	background-color: #00FF00 !important;
	color: #757575 !important;
}

.VE {
	background-color: #07FD00 !important;
	min-width: 30px;
	color: #393939;
}

.E {
	background-color: #9FF79D !important;
	min-width: 30px;
}

.M {
	background-color: #FDFFB7 !important;
	min-width: 30px;
}

.H {
	background-color: #FFBF46 !important;
	min-width: 30px;
}

.VH {
	background-color: #FF6A4E !important;
	min-width: 30px;
}

.muted {
	background-color: #737373 !important;	
	min-width: 30px;
}

.A1 {
	background-color: #00FB2B !important;
	color: #393939;
}

.A2 {
	background-color: #FFC600 !important;
}

.B1 {
	background-color: #FF7000 !important;
}

.B2 {
	background-color: #FF0000 !important;
}

.C1 {
	background-color: #FF0000 !important;
}

.C2 {
	background-color: #FF0000 !important;
}

.D {
	background-color: #FF0000 !important;
}

table.temporal {
	border-collapse: separate;
	border-spacing: 3px;
}

.temporal td {
	padding: 1px;
	width: 10px;
	line-height: 12	px;
	height:12px;
}

.temporal .rating-E {
	background-color: #00FF00;
}

.temporal .rating-A {
	background-color: #C5FF00;
}

.temporal .rating-P {
	background-color: #FFAB00;
}

.temporal .rating-H {
	background-color: #FF0000;
}
