/* This file is automatically included by app bootstrapping */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

pre {
	padding: 3px;
}

blockquote {
	font-size: 13px;
	background-color: #F3F3F3;
	font-style: italic;
}

p {
	padding-top: 8px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.floating_notes_menu {
  position: fixed;
  right: 0;
  bottom: 0%;
  width: 40px;
  margin-top: 0em;	
}

.cons_ans {
	border-collapse: collapse;
}

.cons_ans td {
	padding: 5px ;
}

.fib_answer {
	color: crimson;
	background-color: #f1f1f1;
	padding: 1px 4px;
	border-radius: 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.nav_element {
	max-height: 40px;
	min-height: 40px;
	line-height: 40px;
	background-color: #4B4B4B;
	color: #E6E6E6;
}

.pad-1px {
	padding-left: 1px;
	padding-right: 1px;
}

.pad-2px {
	padding-left: 2px;
	padding-right: 2px;
}

.pad-5px {
	padding-left: 5px;
	padding-right: 5px;
}

.pad-10px {
	padding-left: 10px;
	padding-right: 10px;
}

.TOT {
	background-color: #E7E7E7 !important;
}

.NS {
	background-color: #D0D0D0 !important;
	color: #424242 !important;
}

.L0 {
	background-color: #FF7272 !important;
}

.L1 {
	background-color: #FFB07B !important;
}

.L2 {
	background-color: #FFFF7F !important;
	color: #757575 !important;
}

.L3 {
	background-color: #AAFFAA !important;
	color: #757575 !important;
}

.MAS {
	background-color: #00FF00 !important;
	color: #757575 !important;
}

.dashboard-stats {
	border-collapse:separate;
	border-spacing: 0;
    border-radius:6px;
    -moz-border-radius:6px;
}

.dashboard-stats tr td:first-child {
    border-radius: 6px 0 0 6px;
}

.dashboard-stats tr td:last-child {
    border-radius: 0  6px 6px 0;
}

.dashboard-stats tr td {
	padding:1px;
	padding-right:5px;
	font-size: 11.5px;
	font-style: bold;
	width: 35px;
}

.VE {
	background-color: #07FD00 !important;
	min-width: 30px;
	color: #393939;
}

.E {
	background-color: #9FF79D !important;
	min-width: 30px;
}

.M {
	background-color: #F9FD8A !important;
	color: #757575 !important;
	min-width: 30px;
}

.H {
	background-color: #FFBF46 !important;
	min-width: 30px;
}

.VH {
	background-color: #FF6A4E !important;
	min-width: 30px;
}

.muted {
	background-color: #737373 !important;	
	min-width: 30px;
}

.A1 {
	background-color: #00FB2B !important;
	color: #393939;
}

.A2 {
	background-color: #FFC600 !important;
}

.B1 {
	background-color: #FF7000 !important;
}

.B2 {
	background-color: #FF0000 !important;
}

.C1 {
	background-color: #FF0000 !important;
}

.C2 {
	background-color: #FF0000 !important;
}

.D {
	background-color: #FF0000 !important;
}

table.temporal {
	border-collapse: separate;
	border-spacing: 2px;
	display:inline-block;
	float:right;
}

.temporal td {
	padding: 0px;
	width: 5px;
	line-height: 12	px;
	height:12px;
}

.temporal .rating-E {
	background-color: #00FF00;
}

.temporal .rating-A {
	background-color: #C5FF00;
}

.temporal .rating-P {
	background-color: #FFAB00;
}

.temporal .rating-H {
	background-color: #FF0000;
}

.mcq_option_table {
	border-collapse:separate;
	border-spacing: 5px;
}

.mcq_option_table tr td {
    border-radius: 6px 6px 6px 6px;
	padding:10px;
}

.mcq_option_table .unselected {
    background-color: #F3F3F3;
    border: 1px solid #C5C2C2;
}

.mcq_option_table .selected {
    background-color: #CEFFCD;
    border: 1px solid #92FF91;
}

.mcq_option_table .incorrect_selected {
    background-color: #FF7C68;
    border: 1px solid #FC755D;
}

.mcq_option_table .correct_not_selected {
    background-color: #42F749;
    border: 1px solid #62FD47;
}

@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

.print_rule {
	padding: 5px;
}

table.pure-table ol {
	-webkit-padding-start: 10px;
	font-size: 12px;
	color: #2C37FF;
}

.carousel-caption {
	color:#232323 !important;
	text-shadow:none;
	text-align: left;
	padding-bottom: 0;
	padding-top:0;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom: 50px;
	position: initial;
	background-color: #FAFDFF;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color:blue;
}

.carousel-indicators {
	position: initial;
	width:100%;
	margin-left: 0;
}

.carousel-indicators .active {
	background-color: #4E95FF;
}

.carousel-indicators  li {
	border: 1px solid #4E95FF;
}


