<div class="panel panel-success" ng-repeat="element in ng.characters"
     ng-class="getNotesHighlightClass( element )"
     style="page-break-inside:avoid;">

  <div ng-if="showUserStatistics" class="pull-right"
       ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
  </div>

  <div ng-if="element.inReview" class="pull-right">
     <button type="button" 
             class="btn btn-xs btn-info" 
             ng-click="markReviewed( element )">Mark reviewed</button>
  </div>

  <div class="panel-heading">
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;
    <span class="panel-title" ng-bind-html="element.character"></span>&nbsp;&nbsp;[Character]
  </div>

  <div class="panel-body">
    <p ng-bind-html="element.estimate"></p>
  </div>
</div> 