<div class="panel panel-default"
     style="margin-bottom:0px;">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-option-horizontal"></span>&nbsp;&nbsp;
    <span class="panel-title">Fill in the blanks</span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-hover"
             style="margin-bottom:0px;">
        <tr ng-repeat="element in ng.fibs"
            ng-class="getNotesHighlightClass( element )">
            <td>
              <p ng-bind-html="element.question"></p>
            </td>
            <td>
              <div class="pull-right"
                   ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
              </div>
              <div ng-if="element.inReview" class="pull-right">
                 <button type="button" 
                         class="btn btn-xs btn-info" 
                         ng-click="markReviewed( element )">Mark reviewed</button>
              </div>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div> 