<div class="panel panel-default"
     ng-repeat="element in ng.multiChoiceQuestions"
     ng-class="getNotesHighlightClass( element )">

  <div ng-if="showUserStatistics" class="pull-right"
       ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
  </div>

  <div ng-if="element.inReview" class="pull-right">
     <button type="button" 
             class="btn btn-xs btn-info" 
             ng-click="markReviewed( element )">Mark reviewed</button>
  </div>

  <div class="panel-heading">
    <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;
    <span class="text-primary" ng-bind-html="element.question"></span>
  </div>
  
  <div class="panel-body">
	 <span ng-bind-html="element.answer"></span>
  </div>

</div> 