<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;
    <span class="panel-title">True / False</span>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <tr ng-repeat="element in ng.trueFalseStatements">
          <td style="width:30px;font-size:12px;">
            <p><span class="glyphicon glyphicon-ok"></span></p>
          </td>
          <td>
            <p ng-bind-html="element.statement"></p>
          </td>
          <td>
            <div class="pull-right" 
                 ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
            </div>
            <div ng-if="element.inReview" class="pull-right">
               <button type="button" 
                       class="btn btn-xs btn-info" 
                       ng-click="markReviewed( element )">Mark reviewed</button>
            </div>
          </td>
      </tr>
    </table>
  </div>
</div> 