<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;
    <span class="panel-title">Word Meanings</span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr class="default">
                <th>Word</th>
                <th>Meaning</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="element in ng.wordMeanings">
                <td class="text-primary" ng-bind-html="element.word"></td>
                <td ng-bind-html="element.meaning"></td>
                <td>
                  <div class="pull-right" 
                       ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
                  </div>
                  <div ng-if="element.inReview" class="pull-right">
                     <button type="button" 
                             class="btn btn-xs btn-info" 
                             ng-click="markReviewed( element )">Mark reviewed</button>
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 