<div ng-include="'/apps/jove_notes/ng/exercise/ex_summary/header.html'">
</div>

<div class="screen_body">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr class="info">
                <th align="center">#</th>
                <th align="center">Level (old)</th>
                <th align="center">Level (new)</th>
                <th align="center">Difficulty</th>
                <th align="center">Time spent</th>
                <th align="center">Num visits</th>
                <th align="center">Attempt time</th>
                <th align="center">Review time</th>
                <th align="center">Rating</th>
                <th align="center">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="currentQuestion in $parent.questions">
                <td>Q {{$index + 1}}</td>
                <td align="center">
                    <span class="badge {{currentQuestion.learningStats.currentLevel}}">
                    {{currentQuestion.learningStats.currentLevel}}
                    </span>                          
                </td>
                <td align="center">
                    <span class="badge {{currentQuestion._sessionVars.newLevel}}">
                    {{currentQuestion._sessionVars.newLevel}}
                    </span>                          
                </td>
                <td align="center">
                    <span class="badge {{currentQuestion._difficultyLabel}}">
                    {{currentQuestion._difficultyLabel}}
                    </span>
                </td>
                <td align="center" class="fixed-font">
                    {{currentQuestion._sessionVars.timeSpent | duration}}
                </td>
                <td align="center" class="fixed-font">
                    {{currentQuestion._sessionVars.numVisits}}
                </td>
                <td align="center" class="fixed-font">
                    {{currentQuestion._sessionVars.attemptTime | duration}}
                </td>
                <td align="center" class="fixed-font">
                    {{currentQuestion._sessionVars.reviewTime | duration}}
                </td>
                <td>
                    <button type="button" 
                            class="btn-block btn-xs" 
                            ng-class="currentQuestion._sessionVars.ratingTextCls"
                            disabled="true">
                    {{currentQuestion._sessionVars.ratingText}}
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn-block btn-xs" 
                            ng-class="currentQuestion._sessionVars.ratingTextCls"
                            disabled="true">
                    {{currentQuestion._sessionVars.scoreEarned}}
                    </button>
                </td>
            </tr>
            </tbody>
            <thead>
            <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center"></th>
                <th align="center"></th>
                <th align="center"></th>
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Total score</th>
                <th align="center">
                    <button type="button"
                            class="btn-block btn-xs btn-success" 
                            disabled="true">
                    {{getTotalScore()}}
                    </button>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr class="info">
                    <th></th>
                    <th></th>
                    <th>Habits of mind</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(hom, count) in $parent.homHistogram | orderBy:count">
                    <td style="text-align: left;width:100px">
                        <table class="temporal">
                            <tr>
                                <td ng-repeat="i in getNumber(count) track by $index"
                                    class="rating-H"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <img ng-src="/apps/jove_notes/media/images/hom/{{makeHOMId(hom)}}.png"
                             width="32" />
                    </td>
                    <td>{{hom}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="screen_footer">
    <div class="col-sm-3"
         style="padding-left:0px, padding-right:0px">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-4" style="text-align:right">
        <a type="button" class="btn btn-success btn-block btn-md"
           href="/apps/jove_notes/ng/dashboard/index.php#/Exercises">
            Return to exercise dashboard
        </a>
    </div>
</div>

<div class="screen_message_bar">
{{statusMessage}}
</div>