<div>
    <div ng-if="ng.teacherNotes.length">
        <div ng-include="'html_fragments/teacher_note_template.html'"></div>
    </div>

    <div ng-if="ng.wordMeanings.length">
        <div ng-include="'html_fragments/wm_template.html'"></div>
    </div>

    <div ng-if="ng.spellbeeWords.length">
        <div ng-include="'html_fragments/spellbee_template.html'"></div>
    </div>

    <div ng-if="ng.voice2TextQuestions.length">
        <div ng-include="'html_fragments/voice2text_template.html'"></div>
    </div>

    <div ng-if="ng.chemCompounds.length">
        <div ng-include="'html_fragments/chem_compound_template.html'"></div>
    </div>

    <div ng-if="ng.equations.length">
        <div ng-include="'html_fragments/equation_template.html'"></div>
    </div>

    <div ng-if="ng.definitions.length">
        <div ng-include="'html_fragments/definition_template.html'"></div>
    </div>

    <div ng-if="ng.fibs.length">
        <div ng-include="'html_fragments/fib_template.html'"></div>
    </div>

    <div ng-if="ng.trueFalseStatements.length">
        <div ng-include="'html_fragments/true_false_template.html'"></div>
    </div>

    <div ng-if="ng.characters.length">
        <div ng-include="'html_fragments/character_template.html'"></div>
    </div>

    <div ng-if="ng.matchings.length">
        <div ng-include="'html_fragments/matching_template.html'"></div>
    </div>

    <div ng-if="ng.events.length">
        <div ng-include="'html_fragments/event_template.html'"></div>
    </div>

    <div ng-if="ng.imageLabels.length">
        <div ng-include="'html_fragments/image_label_template.html'"></div>
    </div>

    <div ng-if="ng.questionAnswers.length">
        <div ng-include="'html_fragments/qa_template.html'"></div>
    </div>

    <div ng-if="ng.multiChoiceQuestions.length">
        <div ng-include="'html_fragments/mc_template.html'"></div>
    </div>

    <div ng-if="ng.referenceToContexts.length">
        <div ng-include="'html_fragments/rtc_template.html'"></div>
    </div>

    <div ng-if="ng.chemEquations.length">
        <div ng-include="'html_fragments/chem_equation_template.html'"></div>
    </div>
</div>