<div ng-include="'/apps/jove_notes/ng/test_paper/fragments/test_hdr.html'"></div>

<div class="jumbotron row">
    <div class="col-sm-6">
        <img src="/apps/jove_notes/media/images/test_paper.png" />
    </div>
    <div class="col-sm-6" style="text-align:left">
        <h4>{{chapterDetails.syllabusName}} :: {{chapterDetails.subjectName}}</h4>
        <h3 style="color:blue">
            {{chapterDetails.chapterNumber}}.{{chapterDetails.subChapterNumber}} - 
            {{chapterDetails.chapterName}}
        </h3>
        <h4>Num questions :: {{numCardsInDeck}}</h4>
        <p style="height:50px"></p>
        <a type="button" class="btn btn-success btn-lg"
           ng-click="startTest()">
            Start Test
            <span class="glyphicon glyphicon-play"></span>
        </a>
    </div>
</div>