<div ng-include="'/apps/jove_notes/ng/test_paper/fragments/test_hdr.html'"></div>

<div class="panel panel-default" 
     style="margin-left:10px;margin-top:30px;margin-right:10px;"
     ng-repeat="currentQuestion in questions"
     ng-controller="TestQuestionController"
     ng-show="currentQuestion.state.currentState != STATE_Q_DORMANT" >

  <div class="panel-heading">
    <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;
    Question - {{$index + 1}} ) &nbsp;&nbsp;

    <a type="button" ng-class="getStateChangeActionBtnClass()" 
       ng-click="attemptQuestion( currentQuestion, getStateChangeActionCaption() )"
       ng-show="sessionState == STATE_STARTED">
       {{getStateChangeActionCaption()}}
    </a>

    <span ng-show="sessionState == STATE_COMPLETED">
        <a type="button" class="btn btn-success bgn-sm" ng-click="rateAnswer( currentQuestion, 'C' )">Correct</a>
        <a type="button" class="btn btn-warning bgn-sm" ng-click="rateAnswer( currentQuestion, 'P' )">Partially correct</a>
        <a type="button" class="btn btn-danger  bgn-sm" ng-click="rateAnswer( currentQuestion, 'I' )">Incorrect</a>
    </span>
  </div>

  <div ng-class="getQuestionPanelBodyClass()" style="font-size:18px">
    <render-test-question></render-test-question>
  </div>

  <div class="panel-footer" ng-show="sessionState == STATE_COMPLETED">
      <render-answer></render-answer>
  </div>

</div>         
