<div class="container-fluid fixedheader"
     ng-include="'/apps/jove_notes/ng/remoteflash/fragments/session_practice_header.html'">
</div>
<div class="floating_rf_menu">
    <span ng-show="serverRequestInProgress">
        <img src="/apps/jove_notes/media/images/green_circle.png"/>
    </span>
    <span ng-show="!serverRequestInProgress">
        <img src="/apps/jove_notes/media/images/transparent_circle.png"/>
    </span>
    <p>
    <a ng-click="increaseFont()">
        <span class="glyphicon glyphicon-plus-sign gi-2x"></span>
    </a>
    <p>
    <a ng-click="decreaseFont()">
        <span class="glyphicon glyphicon-minus-sign gi-2x"></span>
    </a>
</div>
<div ng-style="bodyDivStyle" class="container-fluid flashcardbody">
	<div id="remoteFlashQDiv" align="center">
        <div ng-show="currentQuestion.section != null"
             style="padding-top: 3px;padding-bottom: 3px;">
            <span class="badge muted"
                  style="padding-top: 5px;padding-bottom: 5px;">
              {{currentQuestion.section}}
            </span>
        </div>
		<render-remote-flash-card-question></render-remote-flash-card-question>
	</div>
	<hr>
	<div id="remoteFlashADiv" align="{{answerAlign}}">
		<render-remote-flash-card-answer></render-remote-flash-card-answer>
	</div>
</div>