<div style="display:table;width:100%;padding-bottom:5px">
    <div style="display:table-cell;width:120px;">
        <img src="/apps/jove_notes/media/images/logo_for_navbar.png" 
             style="height: 20px" />
        <span class="small">[ {{$parent.userName}} ]</span>
    </div>
    <div style="display:table-cell;width:200px;">
        <span class="badge muted">{{($parent.todayStudyDuration + $parent.sessionDuration) | duration}}</span>
    </div>
    <div style="display:table-cell;text-align:center;">
        <span class="gi-1-15x">{{$parent.pageTitle}}</span>
    </div>
    <div style="display:table-cell;width:200px;text-align:right;">
        <span class="badge muted">{{$parent.timePerQuestion | duration}}</span>
        <span class="badge muted">{{$parent.sessionDuration | duration}}</span>
        <span class="badge muted">{{projectedTimeLeft | duration}}</span>
    </div>
</div>

<div class="row" 
     style="padding-bottom:5px">

    <div class="col-sm-4 small">
        <span class="badge NS">{{progressSnapshot.numNS}}</span>
        <span class="badge L0">{{progressSnapshot.numL0}}</span>
        <span class="badge L1">{{progressSnapshot.numL1}}</span>
        <span class="badge L2">{{progressSnapshot.numL2}}</span>
        <span class="badge L3">{{progressSnapshot.numL3}}</span>
        <span class="badge MAS">{{progressSnapshot.numMAS}}</span>
    </div>
    <div class="col-sm-4 small" style="text-align:center;">
        <span class="badge L1">{{pointsLostInThisSession}}</span>
        <span class="badge muted">{{userScore}}</span>
        <span class="badge L3">{{pointsEarnedInThisSession}}</span>
    </div>
    <div class="col-sm-4 small" style="text-align:right;">
        C <span class="badge muted">{{sessionStats.numCards}}</span>&nbsp;.&nbsp;
        L <span class="badge muted">{{sessionStats.numCardsLeft}}</span>&nbsp;.&nbsp;
        A <span class="badge muted">{{sessionStats.numCardsAnswered}}</span>&nbsp;.&nbsp;
    </div>
</div>

<div class="row" 
     style="padding-bottom:5px;padding-top:0px;background-color:white">

    <div class="progress" style="height:3px;padding:0px;margin-bottom:0px">
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
        <div class="progress-bar"                   style="width: 7.6%;background-color:white"></div>
        <div class="progress-bar progress-bar-info" style="width: 0.8%"></div>
    </div>         
    <div class="progress" style="height:5px;padding:0px;margin-bottom:0px">
        <div id="curr_pb" class="progress-bar progress-bar-success" style="width: 0%"></div>
    </div>         
    <div class="progress" style="height:3px;padding:0px;margin-bottom:0px">
        <div id="pb_av_fill1" class="progress-bar" style="background-color:white"></div>
        <div id="pb_av_mark1" class="progress-bar" style="width: 1%"></div>
        <div id="pb_av_fill2" class="progress-bar" style="background-color:white"></div>
        <div id="pb_av_mark2" class="progress-bar" style="width: 1%"></div>
    </div>         
</div>

<div class="row" style="background-color:white;padding-left: 10px;padding-right: 10px">
    <div class="col-sm-12 small">
        <span class="badge {{currentQuestion.difficultyLabel}}">{{currentQuestion.difficultyLabel}}</span>
        <span class="badge {{currentQuestion.learningStats.currentLevel}}">{{currentQuestion.learningStats.currentLevel}}</span>
        <span class="badge {{currentQuestion.learningStats.efficiencyLabel}}">{{currentQuestion.learningStats.efficiencyLabel}}</span>
        <span class="badge muted">{{currentQuestion.learningStats.numAttempts}}</span>
        <span class="badge muted">{{currentQuestion.learningStats.lastAttemptTime | elapsedDuration }}</span>
        <span class="badge C1" ng-show="currentQuestion.markedForReview">Review</span>
        <span class="badge muted">{{currentQuestion.learningStats.absoluteLearningEfficiency}} %</span>
        <table class="temporal">
            <tr>
                <td ng-repeat="score in currentQuestion.learningStats.temporalScores track by $index"
                    class="rating-{{score}}"></td>
            </tr>
        </table>
    </div>

    <div class="col-sm-12 small">
        <table class="header_rating">
            <tr>
                <td ng-repeat="rating in ratings track by $index"
                    class="rating-{{rating}}"></td>
            </tr>
        </table>
    </div>
</div>

