<div style="display:table;width:100%;padding-bottom:5px">

	<div style="display:table-cell;width:40px;">
    	<img src="/apps/jove_notes/media/images/logo_for_navbar.png" 
    	     style="height: 20px" />
    </div>
    <div style="display:table-cell;text-align:center;">
    	<span class="gi-1-15x">{{pageTitle}}</span>
    </div>
    <div style="display:table-cell;width:170px;text-align:right;">
        <span class="badge muted">{{sessionDuration | duration}}</span>
        <span class="small">[ {{userName}} ]</span>
    </div>
</div>

<div class="row" 
     style="padding-bottom:5px">

    <div class="col-sm-5 small">
    	<span class="badge NS">{{progressSnapshot.numNS}}</span>
    	<span class="badge L0">{{progressSnapshot.numL0}}</span>
    	<span class="badge L1">{{progressSnapshot.numL1}}</span>
    	<span class="badge L2">{{progressSnapshot.numL2}}</span>
    	<span class="badge L3">{{progressSnapshot.numL3}}</span>
    	<span class="badge MAS">{{progressSnapshot.numMAS}}</span>
    </div>
    <div class="col-sm-2 small">
        <span class="badge L1">{{pointsLostInThisSession}}</span>
        <span class="badge NS">{{userScore}}</span>
        <span class="badge L3">{{pointsEarnedInThisSession}}</span>
    </div>
    <div class="col-sm-5 small" style="text-align:right;">
    	NC - <span class="badge muted">{{sessionStats.numCards}}</span>&nbsp;.&nbsp;
    	NL - <span class="badge muted">{{sessionStats.numCardsLeft}}</span>&nbsp;.&nbsp;
    	NA - <span class="badge muted">{{sessionStats.numCardsAnswered}}</span>&nbsp;.&nbsp;
    	T/C - <span class="badge muted">{{timePerQuestion | duration}}</span>
    </div>
</div>

<div class="container-fluid">
    <div class="row" 
         style="padding-bottom:5px;padding-top:5px;background-color:white;">

        <div class="col-sm-12 small">
            <span class="badge {{currentQuestion.difficultyLabel}}">{{currentQuestion.difficultyLabel}}</span>
            <span class="badge {{currentQuestion.learningStats.currentLevel}}">{{currentQuestion.learningStats.currentLevel}}</span>
            <span class="badge {{currentQuestion.learningStats.efficiencyLabel}}">{{currentQuestion.learningStats.efficiencyLabel}}</span>
            <span class="badge muted">{{currentQuestion.learningStats.numAttempts}}</span>
            <span class="badge muted">{{currentQuestion.learningStats.lastAttemptTime | elapsedDuration }}</span>
            <table class="temporal">
                <tr>
                    <td ng-repeat="score in currentQuestion.learningStats.temporalScores track by $index"
                        class="rating-{{score}}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
