<div class="table-responsive">
    <table class="table tree table-hover table-condensed">
        <thead>
            <tr>
                <th>&nbsp;&nbsp;
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="expandAll()">
                        <span class="glyphicon glyphicon-resize-full"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="collapseAll()">
                        <span class="glyphicon glyphicon-resize-small"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="refreshData()">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs"
                            ng-click="toggleHiddenChapters()">
                        <span class="glyphicon glyphicon-eye-open"  ng-hide="showHiddenExercises"></span>
                        <span class="glyphicon glyphicon-eye-close" ng-show="showHiddenExercises"></span>
                    </button>
                    <button type="button" class="btn btn-info btn-xs"
                            ng-click="launchExerciseWithSelectedChapters()">
                            Launch Exercise
                    </button>
                </th>
                <th style="width:50px;text-align:center;">
                   <span class="glyphicon glyphicon-th"></span>
                </th>
                <th style="width:50px">
                    <div ng-include="'/apps/jove_notes/ng/dashboard/exercises/bulk_action_menu.html'">
                    </div>
                </th>
                <th class="text-center">Meter</th>
                <th></th>
                <th>
                    <table class="dashboard-stats">
                        <tr>
                            <td class="text-right TOT">T  </td>
                            <td class="text-right NS" >NS </td>
                            <td class="text-right NR" >NR </td>
                            <td class="text-right L0" >L0 </td>
                            <td class="text-right L1" >L1 </td>
                            <td class="text-right MAS">MAS</td>
                        </tr>
                    </table>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>   
        </thead>    
        <tbody>
            <tr ng-repeat="rowData in progressSnapshot" 
                ng-class="rowData.getTreeRowClass()"
                ng-show="rowData.isTreeRowVisible()"
                on-render-complete> 
                <td> 
                    <span ng-show="!rowData.isSyllabusRow()">
                        <a href="/apps/jove_notes/ng/exercise/index.php?chapterId={{rowData.chapterId}}">
                        {{rowData.name}}
                        </a>
                    </span>
                    <span ng-show="rowData.isSyllabusRow()">{{rowData.name}}</span>
                </td>
                <td>
                   <span class="badge L3">{{rowData.numSSRMaturedCards}}</span>
                </td>
                <td style="width:50px" align="center">
                    <input id="push" type="checkbox" ng-change="rowData.selectionChanged()" 
                           ng-model="rowData.isRowSelected"
                           ui-indeterminate="rowData.isPartiallySelected" />
                </td>
                <td class="text-center">
                    <canvas width='200' height='20' id='canvas-{{rowData.rowId}}'>
                    </canvas>
                </td>
                <td>
                    <a type="button" class="btn btn-default btn-xs"
                       ng-show="rowData.rowType == 2"
                       ng-click="rowData.toggleVisibility()">
                        <span class="glyphicon glyphicon-eye-close" style="color:red"   ng-hide="rowData.isHidden"></span>
                        <span class="glyphicon glyphicon-eye-open"  style="color:green" ng-show="rowData.isHidden"></span>
                    </a>
                </td>
                <td>
                    <table class="dashboard-stats">
                        <tr>
                            <td class="text-right TOT">{{rowData.totalCards      }}</td>
                            <td class="text-right NS" >{{rowData.notStartedCards }}</td>
                            <td class="text-right NR" >{{rowData.resurrectedCards}}</td>
                            <td class="text-right L0" >{{rowData.l0Cards         }}</td>
                            <td class="text-right L1" >{{rowData.l1Cards         }}</td>
                            <td class="text-right MAS">{{rowData.masteredCards   }}</td>
                            </tr>
                    </table>
                </td>
                <td style="width:50px" align="center">
                    <a type="button" class="btn btn-default btn-xs"
                       ng-show="(rowData.rowType == 2) && (rowData.totalCards != 0) && (rowData.totalCards == rowData.masteredCards)"
                       ng-click="reactivateProblems( rowData.chapterId )">
                        <span class="glyphicon glyphicon-refresh" style="color:green"</span>
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-default btn-xs"
                       ng-show="rowData.isDeleteAuthorized"
                       ng-click="deleteChapter( rowData.chapterId )">
                        <span class="glyphicon glyphicon-remove" style="color:red"></span>
                    </a>
                </td>
                <td>
                    <a type="button" class="btn btn-default btn-xs"
                       ng-show="rowData.rowType == 2"
                       href="/apps/jove_notes/ng/exercise/index.php?chapterId={{rowData.chapterId}}#/ExerciseList">
                        <span class="glyphicon glyphicon-list" style="color:blue"></span>
                    </a>
                </td>
            </tr>   
        </tbody>
    </table>
</div>
