#remoteFlashQDiv {
    font-size:25px; 
}

#remoteFlashADiv {
    font-size:25px;
    padding-left : 15px; 
    padding-right : 15px;
}

.floating_rf_menu {
  position: fixed;
  right: 0px;
  bottom: 0%;
  width: 40px;
  margin-top: 0em;  
  z-index: 1000;
}

.full_screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;  
  color: #E0E0E0;
}