<p>
<table width="100%">
<tr>
    <td><div style="width:50px"></div></td>
	<td>
        <div id="reportrange"
             style="cursor: pointer; padding: 5px 5px; border: 1px solid #ccc;float:left">
            <span></span> <b class="caret"></b>
        </div>
	</td>
	<td>
        <input id="timeSpentRB" type="radio" ng-model="preferences.entityType" value="Time" > 
        <label for="timeSpentRB"> Time spent </label> |

        <input id="numQRB" type="radio" ng-model="preferences.entityType" value="NumQuestions">
        <label for="numQRB"> Num questions </label>
	</td>
	<td>
        <a type="button" class="btn btn-default btn-md" 
           style="margin-left:10px"
           ng-click="refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </a>
    </td>
	<td><div style="width:300px"></div></td>
</tr>
</table>
<div id="pivot_table_div" align="center"></div>
