<div ng-include="'/apps/jove_notes/ng/exercise/ex_evaluate/header.html'">
</div>

<div class="screen_body">
    <div ng-repeat="currentQuestion in questions" 
         class="panel panel-success">
        <div class="panel-heading" style="padding: 2px 2px;">
            <table width="100%">
            <tr>
            <td width="25%">
                <span class="glyphicon glyphicon-question-sign"></span>
                &nbsp;&nbsp;
                <span class="panel-title">Question {{$index + 1}}</span>
                &nbsp;&nbsp;
               <span class="glyphicon glyphicon-star"
                      ng-show="currentQuestion._sessionVars.marked">
                </span>
            </td>
            <td width="60%">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-sm" 
                                disabled="true">
                            <span class="badge NS gi-1-25x"
                                  ng-show="currentQuestion._sessionVars.timeSpent > 0">
                                {{currentQuestion._sessionVars.timeSpent | duration}}
                            </span>                
                            <span class="badge NS gi-1-25x"
                                  ng-show="currentQuestion._sessionVars.timeSpent == 0">
                                Not Attempted
                            </span>                
                        </button>
                    </div>
                    <div class="btn-group" role="group" 
                         ng-show="currentQuestion._sessionVars.rating == null &&
                                  currentQuestion._sessionVars.timeSpent > 0">
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="rateSolution( 'H', currentQuestion )">
                        &nbsp;
                        </button>
                    </div>
                    <div class="btn-group" role="group"
                         ng-show="currentQuestion._sessionVars.rating == null &&
                                  currentQuestion._sessionVars.timeSpent > 0">
                        <button type="button" class="btn btn-warning btn-sm"
                                ng-click="rateSolution( 'P', currentQuestion )">
                        &nbsp;
                        </button>
                    </div>
                    <div class="btn-group" role="group"
                         ng-show="currentQuestion._sessionVars.rating == null &&
                                  currentQuestion._sessionVars.timeSpent > 0">
                        <button type="button" class="btn btn-info btn-sm"
                                ng-click="rateSolution( 'A', currentQuestion )">
                        &nbsp;
                        </button>
                    </div>
                    <div class="btn-group" role="group"
                         ng-show="currentQuestion._sessionVars.rating == null &&
                                  currentQuestion._sessionVars.timeSpent > 0">
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="rateSolution( 'E', currentQuestion )">
                        &nbsp;
                        </button>
                    </div>
                    <div class="btn-group" role="group"
                         ng-show="currentQuestion._sessionVars.ratingText != null">
                        <button type="button" 
                                ng-class="currentQuestion._sessionVars.ratingTextCls"
                                disabled="true">
                        {{currentQuestion._sessionVars.ratingText}}
                        </button>
                    </div>
                    <div class="btn-group" role="group"
                         ng-show="currentQuestion._sessionVars.ratingText != null">
                        <button type="button" 
                                ng-class="currentQuestion._sessionVars.ratingTextCls"
                                disabled="true">
                        {{currentQuestion._sessionVars.scoreEarned}}
                        </button>
                    </div>
                </div>
            </td>
            <td align="right">
                <span class="badge {{currentQuestion._difficultyLabel}}">
                {{currentQuestion._difficultyLabel}}
                </span>
                <span class="badge {{currentQuestion.learningStats.currentLevel}}">
                {{currentQuestion.learningStats.currentLevel}}
                </span>                    
            </td>
            </tr>
            </table>
        </div>
        <div class="panel-body">
            <render-exercise-question initialize freeze-question>
            </render-exercise-question>
        </div>
        <div class="panel-footer">
            <b>Answer:</b><p>
            <render-exercise-answer ng-if="currentQuestion._sessionVars.timeSpent > 0">
            </render-exercise-answer>
            <span ng-if="currentQuestion._sessionVars.timeSpent == 0">
                Answer will not be displayed for questions which are not attempted.
            </span>
        </div>
    </div>
</div>

<div class="screen_footer">
    <div class="col-sm-3"
         style="padding-left:0px, padding-right:0px">
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-4" style="text-align:right">
        <button type="button" class="btn btn-info btn-md"
                ng-disabled="!allQuestionsRated"
                ng-click="showSummaryScreen()">
            Show Summary
        </button>
    </div>
</div>

<div class="screen_message_bar">
{{statusMessage}}
</div>