.fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:0px;
}

.fixedbody {
	position:fixed;
	top:75px;
	bottom:60px;
	left:0px;
	width:100%;
	padding:0px;
	overflow-x: auto;
	overflow-y: auto;
}

.fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:5px;
}

.jove_match_question_div {
    
    font: normal 12px/150% 'Open Sans', sans-serif, Verdana, Helvetica, Arial ;
    overflow: hidden ;
    width: 100%;
}

.jove_match_question_div table {
    
    border-collapse: collapse ;
    text-align: left ;
    margin-left:auto; 
    margin-right:auto;
    min-width: 400px;
}

.jove_match_question_div caption {
    font-family:"Open Sans"; 
    font-size:13px; 
    padding-bottom: 5px;
    text-align: center;
}

.jove_match_question_div .separator_td {
    width: 25px ;
    text-align: center;
    max-width: 25px ;
}

.jove_match_question_div table tbody tr td {

    font-size: 13px ;
    font-weight: normal ;
    padding: 2px 2px;
}

.jove_match_question_div .sel_unans_question {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #5EFA5E;
}

.jove_match_question_div .unans_question {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #D4FED4;
}

.jove_match_question_div .wrong_unans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #FF0000 ;
}

.jove_match_question_div .unans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #FDF2DF;
}

.jove_match_question_div .ans_question,
.jove_match_question_div .ans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #ECECEC;
}

