.fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:0px;
}

.fixedbody {
	position:fixed;
	left:0px;
    top:75px;
    bottom:60px;
	width:100%;
	padding:0px;
	overflow-x: auto;
	overflow-y: auto;
}

.fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:5px;
}

#flashCardADiv {
    padding-left: 15px;
    padding-right: 15px;
}

#flashCardQDiv {
    padding-left: 15px;
    padding-right: 15px;
}

/* -------------------------------------------------------------------------- */
/* Dynamic question - Matching                                                */
/* -------------------------------------------------------------------------- */
.jove_match_question_div {
    
    font: normal 12px/150% 'Open Sans', sans-serif, Verdana, Helvetica, Arial ;
    overflow: hidden ;
    width: 100%;
}

.jove_match_question_div table {
    
    border-collapse: collapse ;
    text-align: left ;
    margin-left:auto; 
    margin-right:auto;
    min-width: 400px;
}

.jove_match_question_div caption {
    font-family:"Open Sans"; 
    font-size:13px; 
    padding-bottom: 5px;
    text-align: center;
}

.jove_match_question_div .separator_td {
    width: 25px ;
    text-align: center;
    max-width: 25px ;
}

.jove_match_question_div table tbody tr td {

    font-size: 13px ;
    font-weight: normal ;
    padding: 2px 2px;
}

.jove_match_question_div .sel_unans_question {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #5EFA5E;
}

.jove_match_question_div .unans_question {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #D4FED4;
}

.jove_match_question_div .wrong_unans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #FF0000 ;
}

.jove_match_question_div .unans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #FDF2DF;
}

.jove_match_question_div .ans_question,
.jove_match_question_div .ans_answer {

    padding: 5px 5px 7px 7px;
    vertical-align: middle;
    background: #ECECEC;
}

/* -------------------------------------------------------------------------- */
/* Dynamic question - Image Label                                             */
/* -------------------------------------------------------------------------- */
.jove_imglabel_div {
    
    font: normal 12px/150% 'Open Sans', sans-serif, Verdana, Helvetica, Arial ;
    overflow: hidden ;
    width: 100%;
}

.jove_imglabel_div table {
    
    border-collapse: collapse ;
    text-align: left ;
    margin-left:auto ; 
    margin-right:auto ;
}

.jove_imglabel_div caption {
    font-family:"Open Sans"; 
    font-size:13px; 
    padding-bottom: 5px;
    text-align: center;
}

.jove_imglabel_div td {
    vertical-align: top ;
}

.jove_imglabel_div .label_table td {

    color: #00496B ;
    font-size: 15px ;
    font-weight: normal ;
    padding: 2px 0px 2px 0px ;
}

.jove_imglabel_div .result_ind_empty,
.jove_imglabel_div .result_ind_right,
.jove_imglabel_div .result_ind_wrong,
.jove_imglabel_div .label_id_unmatched,
.jove_imglabel_div .label_id_matched,
.jove_imglabel_div .label_id_selected,
.jove_imglabel_div .label_unmatched,
.jove_imglabel_div .label_matched,
.jove_imglabel_div .label_selected {

    vertical-align: middle ;
    padding: 7px 0px 7px 0px ;
    float: right;
    width: 100% ;
}

.jove_imglabel_div .result_ind_empty,
.jove_imglabel_div .result_ind_right,
.jove_imglabel_div .result_ind_wrong { min-width: 25px ; }

.jove_imglabel_div .result_ind_right { background-color: #00FF00 ; }
.jove_imglabel_div .result_ind_wrong { background-color: #FF0000 ; }

.jove_imglabel_div .label_id_unmatched,
.jove_imglabel_div .label_id_matched,
.jove_imglabel_div .label_id_selected {

    min-width: 35px ;
    text-align: right ;
}

.jove_imglabel_div .label_id_unmatched { background-color: #D4FFFF ; }
.jove_imglabel_div .label_id_matched   { background-color: #E1E1E1 ; color: #BFBFBF; }
.jove_imglabel_div .label_id_selected  { background-color: #00FF00 ; }

.jove_imglabel_div .label_unmatched { background-color: #D4FFFF ; }
.jove_imglabel_div .label_matched   { background-color: #E1E1E1 ; color: #BFBFBF; }
.jove_imglabel_div .label_selected  { background-color: #00FF00 ; }

/* -------------------------------------------------------------------------- */
/* Dynamic question - Spell Bee                                               */
/* -------------------------------------------------------------------------- */
#_spellbeediv table {
    border-collapse: separate;
    border-spacing: 1px 0px;
}

#_spellbeediv td {
    width: 50px;
    height: 50px;
    padding: 1px; 
}

#_spellbeediv td button {
    font: normal 20px 'Open Sans', sans-serif ;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px; 
}

#_spellbeediv .vtf_cell {
    background: #E1E1E1;
    font: normal 24px 'Open Sans', sans-serif ;
    font-weight: bold;
    padding: 1px;
    width: 40px;
    height: 50px;
    text-align: center;
}

#_spellbeediv_ansdiv_spelling {

    font: normal 25px 'Open Sans', sans-serif ;
    color: red;
    letter-spacing: 5px ;
    text-align: center;
}

#_spellbeediv_ansdiv_meaning {

    font: normal 13px 'Open Sans', sans-serif ;
    text-align: left;
}

.selected-section {
    width:15px;
    height:15px;
    background-color:green;
    border-right: 5px solid white;
}

.unselected-section {
    width:15px;
    height:15px;
    background-color:red;
    border-right: 5px solid white;
}

/* -------------------------------------------------------------------------- */
/* Compact rating controls                                                    */
/* -------------------------------------------------------------------------- */
.compact-right-controls {
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 180px;
    height: 180px;
    margin-top: 0em;
}

.compact-left-controls {
    position: fixed;
    left: 10px;
    bottom: 70px;
    width: 180px;
    height: 180px;
    margin-top: 0em;
}

.floating-ctrl-11 {

    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-12 {

    position: absolute;
    top: 5px;
    left: 65px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-13 {

    position: absolute;
    top: 5px;
    left: 125px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-21 {

    position: absolute;
    top: 65px;
    left: 5px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-22 {

    position: absolute;
    top: 65px;
    left: 65px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-23 {

    position: absolute;
    top: 65px;
    left: 125px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-31 {

    position: absolute;
    top: 125px;
    left: 5px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-32 {

    position: absolute;
    top: 125px;
    left: 65px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

.floating-ctrl-33 {

    position: absolute;
    top: 125px;
    left: 125px;
    width: 50px;
    height: 50px;
    padding-left: 12px;
}

/* -------------------------------------------------------------------------- */
/* Physical page turner control hosting divs                                  */
/* -------------------------------------------------------------------------- */
.page-turner-ctrl-host {
    position: fixed;
    right: 10px;
    top: 300px;
    width: 50px;
    height: 100px;
    margin-top: 0em;
}

.page-turner-button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100px;
    padding: 0 0 0 0px;
    background-color: rgba(187, 250, 169, 0.27);
    border: none !important;
}

/* -------------------------------------------------------------------------- */
/* Pause duration controls                                                    */
/* -------------------------------------------------------------------------- */
.ans-push-duration-right-controls {
    position: fixed;
    right: 10px;
    bottom: 250px;
    width: 70px;
    height: 260px;
    margin-top: 0em;
}

.ans-push-duration-left-controls {
    position: fixed;
    left: 10px;
    bottom: 250px;
    width: 70px;
    height: 260px;
    margin-top: 0em;
}

.floating-ans-push-timer-1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 14px;
    background-color: #f86d6a;
}

.floating-ans-push-timer-2 {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 14px;
    background-color: #f89593;
}

.floating-ans-push-timer-3 {
    position: absolute;
    top: 130px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    padding-left: 14px;
    background-color: #fcb5b3;
}

.floating-ans-push-timer-4 {
    position: absolute;
    top: 190px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding-left: -1px;
    padding-top: 5px;
    background-color: #ffd6d5;
}

.ans-push-time {
    color: #6c6c6c;
    text-align: center;
}

