<div>
    <div ng-if="ng.teacherNotes.length">
        <div ng-include="'../notes/html_fragments/note/teacher_note_template.html'"></div>
    </div>

    <div ng-if="ng.wordMeanings.length">
        <div ng-include="'../notes/html_fragments/note/wm_template.html'"></div>
    </div>

    <div ng-if="ng.spellbeeWords.length">
        <div ng-include="'../notes/html_fragments/note/spellbee_template.html'"></div>
    </div>

    <div ng-if="ng.voice2TextQuestions.length">
        <div ng-include="'../notes/html_fragments/note/voice2text_template.html'"></div>
    </div>

    <div ng-if="ng.chemCompounds.length">
        <div ng-include="'../notes/html_fragments/note/chem_compound_template.html'"></div>
    </div>

    <div ng-if="ng.equations.length">
        <div ng-include="'../notes/html_fragments/note/equation_template.html'"></div>
    </div>

    <div ng-if="ng.definitions.length">
        <div ng-include="'../notes/html_fragments/note/definition_template.html'"></div>
    </div>

    <div ng-if="ng.fibs.length">
        <div ng-include="'../notes/html_fragments/note/fib_template.html'"></div>
    </div>

    <div ng-if="ng.trueFalseStatements.length">
        <div ng-include="'../notes/html_fragments/note/true_false_template.html'"></div>
    </div>

    <div ng-if="ng.characters.length">
        <div ng-include="'../notes/html_fragments/note/character_template.html'"></div>
    </div>

    <div ng-if="ng.matchings.length">
        <div ng-include="'../notes/html_fragments/note/matching_template.html'"></div>
    </div>

    <div ng-if="ng.events.length">
        <div ng-include="'../notes/html_fragments/note/event_template.html'"></div>
    </div>

    <div ng-if="ng.imageLabels.length">
        <div ng-include="'../notes/html_fragments/note/image_label_template.html'"></div>
    </div>

    <div ng-if="ng.questionAnswers.length">
        <div ng-include="'../notes/html_fragments/note/qa_template.html'"></div>
    </div>

    <div ng-if="ng.multiChoiceQuestions.length">
        <div ng-include="'../notes/html_fragments/note/mc_template.html'"></div>
    </div>

    <div ng-if="ng.referenceToContexts.length">
        <div ng-include="'../notes/html_fragments/note/rtc_template.html'"></div>
    </div>

    <div ng-if="ng.chemEquations.length">
        <div ng-include="'../notes/html_fragments/note/chem_equation_template.html'"></div>
    </div>
</div>