.selected-row {
    background-color: #D8DFFF;
}

.ex_dashboard_table {
    font-size: 13px;
}

.ex_config_table {
    width: 100%;
}

.ex_config_table th {
    background-color: #C4D8FF;
    text-align: center;
    font-size: 16px;
    padding: 3px;
}

.ex_card_config_table td {
    text-align: center;
    font-size: 12px;
}

.border-left {
    border-left: thin solid #B4B4B4;
}

.ex_config_dialog {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding:0px;
    background: #FFFFFF;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #0007FF;
}

.ex_dashboard {
    position:fixed;
    top:90px;
    bottom:200px;
    left:0px;
    width:100%;
    padding:0px;
    background: #FFFFFF;
}

.modal-backdrop {
   background-color: black;
   opacity:0.9 !important;
}