.selected-row {
    background-color: #D8DFFF;
}

.ex_config_table {
    width: 100%;
}

.ex_config_table th {
    background-color: #C4D8FF;
    text-align: center;
    font-size: 16px;
    padding: 3px;
}

.exercise_start_screen {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	width:100%;
	padding:0px;
	background: #EEEEEE;
}

.exercise_body {
	position:fixed;
	top:0px;
	bottom:60px;
	left:0px;
	width:100%;
	overflow-y:auto;
	overflow-x:auto;
}

.exercise_footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:5px;
}

.active_question {
	background-color: white;
}

.passive_question {
	background-color: #f5f5f5;
	color: #dddddd;
}

.check_answer {
	background: #f5f5f5;
}

.footer_display_block {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.modal-backdrop {
   background-color: black;
   opacity:0.9 !important;
}