.sec-visual {
    display:inline-block;
    line-height: 10px;
}

.sec-visual td {
    padding-right: 2px;
}

.sel-section {
    width:5px;
    height:10px;
    background-color:green;
}

.unsel-section {
    width:5px;
    height:10px;
    background-color:#FB9D82;
}

.section-header {
    font-size: 20px;
    background-color:#D0F9FF;
    padding: 7px;   
}

.highlight-note-h {
    background-color: rgba(255, 0, 0, 0.1) ;
}

.highlight-note-m {
    background-color: rgba(255, 255, 0, 0.1);
}

.highlight-note-l {
    background-color: rgba(255, 255, 0, 0.1);
}