<div class="panel panel-default"
     ng-repeat="element in ng.referenceToContexts">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;
    <span class="text-primary">Reference to Context</span>
  </div>
  <div class="panel-body">
    <blockquote ng-bind-html="element.context"></blockquote>
    <table class="table table-condensed table-hover">
      <tr ng-repeat="ne in element.notesElements">
        <td ng-if="ne.elementType == 'word_meaning'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Meaning of</span> 
            <span class="text-primary" ng-bind-html="ne.word"></span> - 
            <apen style="color:#BBBBBB;">_______________________________________</span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'question_answer'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Q</span> 
            <span class="text-primary" ng-bind-html="ne.question"></span>
          </p>
          <p style="padding-left:10px" ng-bind-html="ne.ansRuler"></p>
        </td>
        <td ng-if="ne.elementType == 'fib'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">FIB</span> 
            <span ng-bind-html="ne.practiceQuestion"></span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'definition'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Define</span> 
            <span class="text-primary" ng-bind-html="ne.term"></span>
          </p>
          <p ng-bind-html="ne.ansRuler" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'character'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Estimate of</span> 
            <span class="text-primary" ng-bind-html="ne.character"></span>
          </p>
          <p ng-bind-html="ne.ansRuler" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'matching'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Matching</span> 
            <span class="text-primary" ng-bind-html="ne.caption"></span>
          </p>
          <p>
            <div class="table-responsive">
              <table class="mcq_option_table">
                <tr ng-repeat="pair in ne.practiceData">
                    <td class="unselected"><span ng-bind-html="pair[0]"></span></td>
                    <td style="vertical-align:middle;width:50px"></td>
                    <td class="unselected"><span ng-bind-html="pair[1]"></span></td>
                    <td>
                      <div class="pull-right" 
                           ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
                      </div>
                    </td>
                </tr>
              </table>
            </div>
          </p>
        </td>
        <td ng-if="ne.elementType == 'event'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Event</span> 
            <span class="text-primary" ng-bind-html="ne.event"></span> - 
            <span style="color:#BBBBBB;padding-left:10px;">_______________________________________</span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'true_false'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">True / False</span> 
            <span class="text-primary" ng-bind-html="ne.statement"></span>
            <span class="glyphicon glyphicon-unchecked gi-2x" style="color:#C4C4C4"></span>
          </p>
        </td>
        <!--  For later, once I decide on how to practice a chemical equation.
        <td ng-if="ne.elementType == 'chem_equation'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Chemical equation</span> 
            <span class="text-primary" ng-bind-html="ne.equation"></span>
          </p>
          <p ng-bind-html="ne.description" class="text-muted" style="padding-left:10px"></p>
        </td>
        -->
        <td ng-if="ne.elementType == 'chem_compound'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Chemical compound</span> 
            <span class="text-primary" ng-bind-html="ne.symbol"></span>
          </p>
          <p style="padding-left:20px">
            <p ng-if="ne.chemicalName != ''" class="text-muted">Chemical name = 
              <span style="color:#BBBBBB;">_______________________________________</span>
            </p>
            <p ng-if="ne.commonName != null" class="text-muted">Common name = 
              <span style="color:#BBBBBB;">_______________________________________</span>
            </p>
          </p>
        </td>
        <td ng-if="ne.elementType == 'image_label'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Image label</span> 
            <span class="text-primary" ng-bind-html="ne.caption"></span>
          </p>
          <div>
            <render-practice-image-label></render-practice-image-label>
          </div>
        </td>
        <td ng-if="ne.elementType == 'equation'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Equation</span> 
            <span class="text-primary" ng-bind-html="ne.equation"></span>
          </p>
          <table class="table table-condensed">
              <tr ng-repeat="symbol in ne.symbols">
              <td><span ng-bind-html="symbol[0]"></span></td>
              <td><span style="color:#BBBBBB;">_______________________________________</span></td>
          </tr>
          </table>
        </td>
        <td ng-if="ne.elementType == 'multi_choice'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Q</span> 
            <span class="text-primary" ng-bind-html="ne.question"></span>
          </p>
          <p style="padding-left:10px">Answer) 
            <span><hr class="print_rule"/></span>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div> 