<div class="container-fluid well">
  <div class="row">

    <div class="col-sm-3 form-group">
    </div>

    <div class="col-sm-3 form-group">
		<label for="learningEfficiencyFilter">Learning efficiency:</label>
		<select id="learningEfficiencyFilter" 
		        class="form-control" multiple="true" 
		        ng-model="filterCriteria.learningEfficiencyFilters"
		        ng-options="obj.id as obj.name for obj in filterOptions.learningEfficiencyOptions">
		</select>
    </div>

    <div class="col-sm-3 form-group">
		<label for="difficultyFilter">Difficulty level:</label>
		<select id="difficultyFilter" 
		        class="form-control" multiple="true" 
		        ng-model="filterCriteria.difficultyFilters"
		        ng-options="obj.id as obj.name for obj in filterOptions.difficultyOptions">
		</select>
    </div>

    <div class="col-sm-3">
    	<button type="submit" class="btn btn-primary btn-block"
    	        ng-click="applyFilter()">
    		Apply
    	</button>
    	<button type="submit" class="btn btn-default btn-block"
    	        ng-click="cancelFilter()">
    		Cancel
    	</button>
    </div>

  </div>
</div>
