<div>
    <div ng-if="ng.wordMeanings.length">
        <div ng-include="'html_fragments/practice/wm_template.html'"></div>
    </div>

    <div ng-if="ng.spellbeeWords.length">
        <div ng-include="'html_fragments/practice/spellbee_template.html'"></div>
    </div>

    <div ng-if="ng.voice2TextQuestions.length">
        <div ng-include="'html_fragments/practice/voice2text_template.html'"></div>
    </div>

    <div ng-if="ng.chemCompounds.length">
        <div ng-include="'html_fragments/practice/chem_compound_template.html'"></div>
    </div>

    <div ng-if="ng.equations.length">
        <div ng-include="'html_fragments/practice/equation_template.html'"></div>
    </div>

    <div ng-if="ng.definitions.length">
        <div ng-include="'html_fragments/practice/definition_template.html'"></div>
    </div>

    <div ng-if="ng.fibs.length">
        <div ng-include="'html_fragments/practice/fib_template.html'"></div>
    </div>

    <div ng-if="ng.trueFalseStatements.length">
        <div ng-include="'html_fragments/practice/true_false_template.html'"></div>
    </div>

    <div ng-if="ng.characters.length">
        <div ng-include="'html_fragments/practice/character_template.html'"></div>
    </div>

    <div ng-if="ng.matchings.length">
        <div ng-include="'html_fragments/practice/matching_template.html'"></div>
    </div>

    <div ng-if="ng.events.length">
        <div ng-include="'html_fragments/practice/event_template.html'"></div>
    </div>

    <div ng-if="ng.imageLabels.length">
        <div ng-include="'html_fragments/practice/image_label_template.html'"></div>
    </div>

    <div ng-if="ng.questionAnswers.length">
        <div ng-include="'html_fragments/practice/qa_template.html'"></div>
    </div>

    <div ng-if="ng.multiChoiceQuestions.length">
        <div ng-include="'html_fragments/practice/mc_template.html'"></div>
    </div>

    <div ng-if="ng.referenceToContexts.length">
        <div ng-include="'html_fragments/practice/rtc_template.html'"></div>
    </div>

    <div ng-if="ng.chemEquations.length">
        <div ng-include="'html_fragments/practice/chem_equation_template.html'"></div>
    </div>
</div>