<div class="panel panel-default" ng-repeat="element in matchings"
     style="page-break-inside:avoid;">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;
    <span class="panel-title" ng-bind-html="element.caption"></span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover" style="width:initial">
        <tr ng-repeat="pair in element.matchData">
            <td style="vertical-align:middle"><span class="text-primary" ng-bind-html="pair[0]"></span></td>
            <td style="vertical-align:middle">=</td>
            <td style="vertical-align:middle"><span ng-bind-html="pair[1]"></span></td>
            <td>
              <div class="pull-right" 
                   ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
              </div>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div> 