<div class="panel panel-default"
     ng-repeat="element in referenceToContexts">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;
    <span class="text-primary">Reference to Context</span>
    <div class="pull-right" 
         ng-include="'/apps/jove_notes/ng/notes/html_fragments/user_statistics.html'">
    </div>
  </div>
  <div class="panel-body">
    <blockquote ng-bind-html="element.context"></blockquote>
    <table class="table table-condensed table-hover">
      <tr ng-repeat="ne in element.notesElements">
        <td ng-if="ne.elementType == 'word_meaning'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Meaning of</span> 
            <span class="text-primary" ng-bind-html="ne.word"></span> - 
            <span ng-bind-html="ne.meaning" style="padding-left:10px"></span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'question_answer'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Q</span> 
            <span class="text-primary" ng-bind-html="ne.question"></span>
          </p>
          <p ng-bind-html="ne.answer" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'fib'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">FIB</span> 
            <span ng-bind-html="ne.question"></span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'definition'"> 
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Define</span> 
            <span class="text-primary" ng-bind-html="ne.term"></span>
          </p>
          <p ng-bind-html="ne.definition" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'character'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Estimate of</span> 
            <span class="text-primary" ng-bind-html="ne.character"></span>
          </p>
          <p ng-bind-html="ne.estimate" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'teacher_note'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Teacher note</span> 
            <span class="text-primary" ng-bind-html="ne.caption"></span>
          </p>
          <p ng-bind-html="ne.note" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'matching'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Matching</span> 
            <span class="text-primary" ng-bind-html="ne.caption"></span>
          </p>
          <p>
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover" style="width:initial">
                <tr ng-repeat="pair in ne.matchData">
                    <td style="vertical-align:middle"><span class="text-primary" ng-bind-html="pair[0]"></span></td>
                    <td style="vertical-align:middle">=</td>
                    <td style="vertical-align:middle"><span ng-bind-html="pair[1]"></span></td>
                </tr>
              </table>
            </div>
          </p>
        </td>
        <td ng-if="ne.elementType == 'event'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Event</span> 
            <span class="text-primary" ng-bind-html="ne.event"></span> - 
            <span ng-bind-html="ne.time" style="padding-left:10px"></span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'true_false'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Assertion</span> 
            <span class="text-primary" ng-bind-html="ne.statement"     ng-show="ne.truthValue"></span>
            <span class="text-primary" ng-bind-html="ne.justification" ng-hide="ne.truthValue"></span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'chem_equation'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Chemical equation</span> 
            <span class="text-primary" ng-bind-html="ne.equation"></span>
          </p>
          <p ng-bind-html="ne.description" class="text-muted" style="padding-left:10px"></p>
        </td>
        <td ng-if="ne.elementType == 'chem_compound'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Chemical compound</span> 
            <span class="text-primary" ng-bind-html="ne.symbol"></span>
          </p>
          <p style="padding-left:10px">
            <span ng-if="ne.chemicalName != ''" class="text-muted">Chemical name - 
              <span ng-bind-html="ne.chemicalName" class="text-success"></span><br>
            </span>
            <span ng-if="ne.commonName != null" class="text-muted">Common name - 
              <span ng-bind-html="ne.commonName" class="text-success"></span>
            </span>
          </p>
        </td>
        <td ng-if="ne.elementType == 'image_label'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Image label</span> 
            <span class="text-primary" ng-bind-html="ne.caption"></span>
          </p>
          <div>
            <render-image-label></render-image-label>
          </div>
        </td>
        <td ng-if="ne.elementType == 'equation'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Equation</span> 
            <span class="text-primary" ng-bind-html="ne.equation"></span>
          </p>
          <p class="text-muted" ng-bind-html="ne.description"></p>
          <table class="table table-condensed">
              <tr ng-repeat="symbol in ne.symbols">
              <td><span ng-bind-html="symbol[0]"></span></td>
              <td><span ng-bind-html="symbol[1]"></span></td>
          </tr>
          </table>
        </td>
        <td ng-if="ne.elementType == 'multi_choice'">
          <p>
            <span class="label label-default" style="background:#C4C4C4;">Q</span> 
            <span class="text-primary" ng-bind-html="ne.question"></span>
          </p>
          <p style="padding-left:10px">Answer) 
            <span ng-bind-html="ne.answer"></span>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div> 