<p>
<h3 ng-if="chapters.length == 0" style="text-align: center;">
Nothing marked for review
</h3>
<div style="padding-left:10px" ng-if="chapters.length > 0">
    <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="chapter in chapters" panel-class="panel-info">
            <uib-accordion-heading>
                <span ng-click="accordionTabClicked( chapter )">
					{{chapter.syllabusName}} : {{chapter.subjectName}} 
					- {{chapter.chapterNum}}.{{chapter.subChapterNum}} 
					{{chapter.chapterName}} 
					<b>({{chapter.numReviewItems}})</b>
                </span>
            </uib-accordion-heading>

            <div ng-if="teacherNotes.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/teacher_note_template.html'"></div>
            </div>

            <div ng-if="wordMeanings.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/wm_template.html'"></div>
            </div>

            <div ng-if="spellbeeWords.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/spellbee_template.html'"></div>
            </div>

            <div ng-if="chemCompounds.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/chem_compound_template.html'"></div>
            </div>

            <div ng-if="equations.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/equation_template.html'"></div>
            </div>

            <div ng-if="definitions.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/definition_template.html'"></div>
            </div>

            <div ng-if="fibs.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/fib_template.html'"></div>
            </div>

            <div ng-if="trueFalseStatements.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/true_false_q_template.html'"></div>
            </div>

            <div ng-if="characters.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/character_template.html'"></div>
            </div>

            <div ng-if="matchings.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/matching_template.html'"></div>
            </div>

            <div ng-if="events.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/event_template.html'"></div>
            </div>

            <div ng-if="imageLabels.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/image_label_template.html'"></div>
            </div>

            <div ng-if="questionAnswers.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/qa_template.html'"></div>
            </div>

            <div ng-if="multiChoiceQuestions.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/mc_template.html'"></div>
            </div>

            <div ng-if="referenceToContexts.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/rtc_template.html'"></div>
            </div>

            <div ng-if="chemEquations.length">
                <div ng-include="'/apps/jove_notes/ng/notes/html_fragments/note/chem_equation_template.html'"></div>
            </div>

        </uib-accordion-group>
    </uib-accordion>
</div>
