<p>
<h3 ng-if="chapters.length == 0" style="text-align: center;">
Nothing marked for review
</h3>
<div style="padding-left:10px" ng-if="chapters.length > 0">
    <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="chapter in chapters" panel-class="panel-info">
            <uib-accordion-heading>
                <span ng-click="accordionTabClicked( chapter )">
					{{chapter.syllabusName}} : {{chapter.subjectName}} 
					- {{chapter.chapterNum}}.{{chapter.subChapterNum}} 
					{{chapter.chapterName}} 
					<b>({{chapter.numReviewItems}})</b>
                </span>
            </uib-accordion-heading>        
            Content goes here
        </uib-accordion-group>
    </uib-accordion>
</div>
