<div class="row">
    <div class="col-sm-1"
         style="padding-left:15px; padding-right:15px">
        <div style="height:10px"></div>
    </div>
    <div class="col-sm-10"
         style="padding-left:0px;padding-right:0px">
        <div style="height:10px"></div>
        <div class="total-points"
             ng-click="refresh()">
            {{totalPoints}} points
        </div>
        <div>
            <div id="reportrange" 
                 style="cursor: pointer; padding: 5px 5px; float:left; border: 1px solid #ccc">
                <span></span> <b class="caret"></b>
            </div>
            <a type="button" class="btn btn-success btn-md" 
               style="margin-left:10px"
               ng-click="toggleRedeemDialog()">
                <span class="glyphicon glyphicon-gift"></span>
                Redeem points
            </a>
        </div>
        <div style="height:10px"></div>
        <div ng-show="showRedeemDialog"
             style="background-color: lightgrey;padding:5px;">
            <div class="row">
                <div class="col-sm-4">
                    Redemption item
                </div>
                <div class="col-sm-1">
                    Count
                </div>
                <div class="col-sm-2">
                    Total points
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-4">
                    <select class="form-control" 
                            ng-model="redemptionInput.item"
                            ng-change=processRedeemItemSelection()
                            ng-options="obj as obj.itemName + ' [' + obj.pointsPerItem + ']' for obj in catalog">
                    </select>
                </div>
                <div class="col-sm-1">
                    <input class="form-control"
                           type="number"
                           min="1"
                           ng-model="redemptionInput.numItems"
                           ng-change="processRedeemItemSelection()"/>
                </div>
                <div class="col-sm-2">
                    <span style="font-size: 20px;font-color:red;">
                        {{redemptionInput.totalPoints}}
                    </span>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary"
                            ng-disabled="!redemptionInput.validEntry"
                            ng-click="applyRedemption()">Redeem</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span ng-show="!redemptionInput.validEntry"
                          style="color:red;">
                        {{redemptionInput.message}}
                    </span>
                </div>
            </div>
        </div>
        <div style="height:10px"></div>
        <div>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th style="width:150px">Date</th>
                        <th style="width:100px">Points</th>
                        <th>Comments</th>
                    </tr>   
                </thead>    
                <tbody>
                    <tr ng-repeat="rowData in pointsLedger"> 
                        <td> {{rowData.date | date : "MMM d, y" }} </td>
                        <td style="text-align:right;padding-right: 20px"> 
                            <span ng-if="rowData.points > 0"
                                  style="color: green;">
                                {{rowData.points}} 
                            </span>
                            <span ng-if="rowData.points < 0"
                                  style="color: red;">
                                {{rowData.points}} 
                            </span>
                        </td>
                        <td> 
                            <span ng-if="rowData.points < 0">
                                {{rowData.comments}} 
                            </span>
                        </td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
</div>
