<div class="row">
<div class="col-sm-4 form-group">
	<label for="currentLevelFilter">Level:</label>
	<select id="currentLevelFilter" 
	        class="form-control" multiple="true" size="7" 
	        ng-model="studyCriteria.currentLevelFilters"
	        ng-options="obj.id as obj.name for obj in filterOptions.currentLevelOptions">
	</select>
</div>
<div class="col-sm-4 form-group">
	<label for="learningEfficiencyFilter">Efficiency:</label>
	<select id="learningEfficiencyFilter" 
	        class="form-control" multiple="true" size="7"
	        ng-model="studyCriteria.learningEfficiencyFilters"
	        ng-options="obj.id as obj.name for obj in filterOptions.learningEfficiencyOptions">
	</select>
</div>
<div class="col-sm-4 form-group">
	<label for="difficultyFilter">Difficulty:</label>
	<select id="difficultyFilter" 
	        class="form-control" multiple="true" size="7" 
	        ng-model="studyCriteria.difficultyFilters"
	        ng-options="obj.id as obj.name for obj in filterOptions.difficultyOptions">
	</select>
</div>
</div>