<div class="form-group pad-10px">
    <label for="strategy">Strategy:</label>
    <select id="strategy" 
            class="form-control" 
            ng-model="studyCriteria.strategy"
            ng-options="obj.id as obj.displayName for obj in studyStrategies">
    </select>
</div>

<div class="form-group pad-10px">
    <label for="strategy">Sort:</label>
    <select id="sort"
            class="form-control"
            ng-model="studyCriteria.sortType"
            ng-options="choice for choice in sortChoices">
    </select>
</div>

<div class="form-group pad-10px">
    <input id="push" 
           type="checkbox" 
           ng-model="studyCriteria.push"/>
    <label for="push"> Enable remote flash</label>
</div>


<div class="form-group pad-10px">
    <input id="engageFatigueBuster" 
           type="checkbox" 
           ng-model="studyCriteria.engageFatigueBuster" />
    <label for="engageFatigueBuster"> Engage fatigue buster</label>
</div>

<div class="form-group pad-10px">
    <input id="assistedStudy" 
           type="checkbox" 
           ng-model="studyCriteria.assistedStudy"
           ng-disabled="assistedStudyCBDisabled" />
    <label for="assistedStudy"> Assisted study</label>
</div>

<div class="form-group pad-10px">
    <input id="excludeLT24HrsAttempts"
           type="checkbox"
           ng-model="studyCriteria.excludeLT24HrsAttempts" />
    <label for="excludeLT24HrsAttempts"> Exclude &lt;24 Hrs attempts</label>
</div>

<div class="form-group pad-10px">
    <input id="excludeMarkedForReview" 
           type="checkbox" 
           ng-model="studyCriteria.excludeMarkedForReview" />
    <label for="excludeMarkedForReview"> Exclude marked for review</label>
</div>

<!--
<div class="form-group pad-10px">
    <input id="skipNegativeGrading" 
           type="checkbox" 
           ng-model="studyCriteria.skipNegativeGrading" />
    <label for="skipNegativeGrading"> Skip negative grading</label>
</div>
-->

<div class="form-group pad-10px">
    <input id="forceAPMControls" 
           type="checkbox" 
           ng-model="studyCriteria.forceAPMControls" />
    <label for="forceAPMControls"> Force APM controls</label>
</div>
