<div class="form-group pad-10px">
    <label for="strategy">Strategy:</label>
    <select id="strategy" class="form-control" ng-model="studyCriteria.strategy">
        <option value="SSR" selected>Spaced Repetition</option>
        <option value="EFF_HARD">Efficiency (Hard)</option>
        <option value="EFF_EASY">Efficiency (Easy)</option>
        <option value="OBJECTIVE">Objective</option>
        <option value="SUBJECTIVE">Subjective</option>
    </select>
</div>

<div class="form-group pad-10px">
    <label for="push">Push cards:</label>
    <input id="push" type="checkbox" class="form-control" ng-model="studyCriteria.push"/>
</div>

<div class="dropdown" align="center">
  <button type="button" 
          class="btn btn-primary dropdown-toggle" 
          data-toggle="dropdown">
    Apply level to all cards <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('NS')">
        <span class="badge NS"> NS </span> Not Started
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('L0')">
        <span class="badge L0"> L0 </span> Level 0
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('L1')">
        <span class="badge L1"> L1 </span> Level 1
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('L2')">
        <span class="badge L2"> L2 </span> Level 2
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('L3')">
        <span class="badge L3"> L3 </span> Level 3
        </a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-click="applyLevel('MAS')">
        <span class="badge MAS"> MAS </span> Mastered
        </a>
    </li>
  </ul>
</div>
