<div class="screen_body">
    <div class="panel panel-success">
        <div class="panel-heading" style="padding: 2px 2px;">
            <table width="100%">
            <tr>
            <td>
                <span class="glyphicon glyphicon-question-sign"></span>
                &nbsp;&nbsp;
                <span class="panel-title">Question {{currentQuestion._sessionVars.index+1}}</span>
            </td>
            <td>
            </td>
            <td align="right">
                <span class="badge {{currentQuestion._difficultyLabel}}">
                {{currentQuestion._difficultyLabel}}
                </span>
                <span class="badge {{currentQuestion.learningStats.currentLevel}}">
                {{currentQuestion.learningStats.currentLevel}}
                </span>                    
            </td>
            </tr>
            </table>
        </div>
        <div class="panel-body" style="font-size:20px">
            <render-exercise-question initialize freeze-question>
            </render-exercise-question>
        </div>
    </div>
</div>

<div class="screen_footer">
    <div class="col-sm-3"
         style="padding-left:0px, padding-right:0px"
         ng-include="'/apps/jove_notes/ng/exercise/ex_execute/screens/_common_footer_controls.html'">
    </div>
    <div class="col-sm-5">
        <button type="button" class="btn btn-info btn-md"
                ng-click="doneAttemptQuestion( currentQuestion )">
            Done
        </button>
        <button type="button" class="btn btn-warning btn-md"
                ng-click="toggleMark( currentQuestion )">
            <span ng-if="!currentQuestion._sessionVars.marked">
                Mark
            </span>
            <span ng-if="currentQuestion._sessionVars.marked">
                Unmark
            </span>
        </button>
    </div>
    <div class="col-sm-4 pull-right">
        <button type="button" class="btn btn-default btn-sm" disabled="true">
            <span class="badge NS gi-1-25x">
            {{timeSpentOnCurrentQuestion | duration}}
            </span>                
        </button>
    </div>
</div>

<div class="screen_message_bar">
{{statusMessage}}
</div>