<div class="screen_body">
    <div ng-repeat="currentQuestion in questions" 
         ng-class="getQuestionPanelClass( currentQuestion )">
        <a name="anchor_q_{{currentQuestion.questionId}}"></a>
        <div class="panel-heading" style="padding: 2px 2px;">
            <table width="100%">
            <tr>
            <td width="30%">
                <span class="glyphicon glyphicon-question-sign"></span>
                &nbsp;&nbsp;
                <span class="panel-title">Question {{$index + 1}}</span>
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-ok-circle"
                      ng-show="currentQuestion._sessionVars.numAttempts == 1">
                </span>
                <span class="glyphicon glyphicon-ok"
                      ng-show="currentQuestion._sessionVars.numAttempts > 1">
                </span>
                <span class="glyphicon glyphicon-star"
                      ng-show="currentQuestion._sessionVars.marked">
                </span>
            </td>
            <td width="30%">
                <button type="button" class="btn btn-default btn-sm" 
                        disabled="true">
                    <span class="badge NS gi-1-25x">
                        {{currentQuestion._sessionVars.timeSpent | duration}}
                    </span>                
                </button>
                <button type="button" class="btn btn-info btn-sm"
                        ng-click="attemptQuestion( currentQuestion )">
                    <span ng-if="currentQuestion._sessionVars.numAttempts == 0 ">
                        Attempt
                    </span>
                    <span ng-if="currentQuestion._sessionVars.numAttempts > 0 ">
                        Review
                    </span>
                </button>
                <button type="button" class="btn btn-warning btn-sm"
                        ng-click="toggleMark( currentQuestion )">
                    <span ng-if="!currentQuestion._sessionVars.marked">
                        Mark
                    </span>
                    <span ng-if="currentQuestion._sessionVars.marked">
                        Unmark
                    </span>
                </button>
            </td>
            <td align="right">
                <span class="badge {{currentQuestion._difficultyLabel}}">
                {{currentQuestion._difficultyLabel}}
                </span>
                <span class="badge {{currentQuestion.learningStats.currentLevel}}">
                {{currentQuestion.learningStats.currentLevel}}
                </span>                    
            </td>
            </tr>
            </table>
        </div>
        <div class="panel-body">
            <render-exercise-question initialize freeze-question>
            </render-exercise-question>
        </div>
    </div>
</div>

<div class="screen_footer">
    <div class="col-sm-3"
         style="padding-left:0px, padding-right:0px"
         ng-include="'/apps/jove_notes/ng/exercise/ex_execute/screens/_common_footer_controls.html'">
    </div>
    <div class="col-sm-5">
        <button type="button" class="btn btn-danger btn-sm" disabled="true">
            <span class="badge gi-1-25x">
            #NS : {{numQNotStarted}}
            </span>                
        </button>
        <button type="button" class="btn btn-warning btn-sm" disabled="true">
            <span class="badge gi-1-25x">
            #NR : {{numQNotReviewed}}
            </span>                
        </button>
        <button type="button" class="btn btn-success btn-sm" disabled="true">
            <span class="badge gi-1-25x">
            #DN : {{numQDone}}
            </span>                
        </button>
    </div>
    <div class="col-sm-4" style="text-align:right">
        <!-- ng-disabled="numQNotReviewed > 0" -->
        <button type="button" class="btn btn-success btn-sm" 
                ng-click="showEvaluateScreen()">
            Exercise Completed!
        </button>
    </div>
</div>

<div class="screen_message_bar">
{{statusMessage}}
</div>