<div class="container-fluid well">
  <div class="row">

    <div class="col-sm-3 form-group">
    </div>

    <div class="col-sm-3 form-group">
    		<label for="levelFilter">Level filter:</label>
    		<select id="levelFilter" 
    		        class="form-control" multiple="true" 
    		        ng-model="filterCriteria.levelFilters"
    		        ng-options="obj.id as obj.name for obj in filterOptions.levelOptions">
    		</select>
    </div>

    <div class="col-sm-3 form-group">
  		<label for="numAttemptFilter">Num attempts:</label>
  		<select id="numAttemptFilter" 
  		        class="form-control" 
  		        ng-model="filterCriteria.numAttemptFilter"
  		        ng-options="obj.id as obj.name for obj in filterOptions.numAttemptsOptions">
  		</select>
    </div>

    <div class="col-sm-3">
    	<button type="submit" class="btn btn-primary btn-block"
    	        ng-click="applyFilter()">
    		Apply
    	</button>
    	<button type="submit" class="btn btn-default btn-block"
    	        ng-click="cancelFilter()">
    		Cancel
    	</button>
    </div>

  </div>
</div>
